// ==============
//     COLORS   |
// =============

$primary-color: #57a048;
$secondary-color: #5b5b5b;

$acid-green-color: #04d39f;
$light-green-color: #aedaa5;
$soft-green-color: #eff6ed;
$light-red-color: #f09b9b;
$red-color: #f46060;

// FONT-SIZE
$font-size-normal: 1.5rem;
$font-size-small: 1.6rem;
$font-size-medium: 1.8rem;

// ===============
//     SHADOWS   |
// ==============

$shadow-small: 0rem 1rem 2rem rgba($color: #000, $alpha: .2);