.footer {
    width: 100%;
    font-weight: 400;

    .main-content {
        background-color: $soft-green-color;

        .row {
            padding: 8rem 6rem;
        }

        .logo {
            width: 15rem;
        }

        .payments-img {
            width: 100%;
            max-width: 30rem;
        }

        .contact {
            &__list-item {
                list-style: none;
            }

            &__item {
                margin-bottom: 2rem;

                i {
                    margin-right: 2rem;
                    color: $primary-color;
                }
                
                a {
                    color: $secondary-color;
                    transition: color .3s ease;

                    &:hover {
                        color: $light-red-color;
                        text-decoration: none;
                    }
                }
            }
        }

        .information {
            &__list-item {
                @extend .contact__list-item;
            }
            
            &__item {
                @extend .contact__item;
                
                font-weight: 600;
            }
        }
    }

    .copyright {
        text-align: center;
        padding: 1.5rem 0;
        font-weight: 400;
    }
}